<h1> movies </h1>
<form action= '/movies' method="get">
<input type="text" name="title" placeholder="movie title">
<input type="text" name="overview" placeholder="movie overview">
<input type="text" name="url" placeholder="movie url">
<input type="text" name="rating" placeholder="movie rating">


<input type="submit">
</form>
